{
  "log": {
    "_recordingName": "requests/fails when bin is not found",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "6782c49b0ea7faecdf2e778647c6d879",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "accept-version",
              "value": "3"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://lookup.binlist.net/999999"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 264,
      },
      {
        "_id": "6782c49b0ea7faecdf2e778647c6d879",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "accept-version",
              "value": "3"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://lookup.binlist.net/999999"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 303,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
