{
  "log": {
    "_recordingName": "requests/fails when bin is not found",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "4e1c22d1b2d5f7796cd67c534bb6924d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "accept-version",
              "value": "2"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://lookup.binlist.net/999999"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 283,
      },
      {
        "_id": "4e1c22d1b2d5f7796cd67c534bb6924d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "accept-version",
              "value": "2"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://lookup.binlist.net/999999"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 282,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
